<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cronômetro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Cronômetro</h1>
        <div id="timer">00:00:00</div>
        <button id="start">Iniciar</button>
        <button id="stop">Parar</button>
    </div>

    <script>
        $(document).ready(function() {
            $('#start').click(function() {
                $.get('/start');
                updateTimer();
            });

            $('#stop').click(function() {
                $.get('/stop');
            });

            function updateTimer() {
                setInterval(function() {
                    $.get('/time', function(data) {
                        $('#timer').text(data.time);
                    });
                }, 1000);
            }
        });
    </script>
</body>
</html>
